@use 'src/shared/stylesheets/mixins/state';

:host {
  --_button-font: var(--clamp-button-font, var(--title-t3));
  --_button-color: var(--clamp-button-color, var(--general-lime));

  display: block;
}

[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.text-clamp {
  position: relative;

  display: grid;
  gap: 4px;

  overflow: hidden;

  white-space: wrap;

  &__content {
    display: grid;
    align-items: start;

    overflow: hidden;
  }

  &__text {
    position: absolute;

    grid-area: 1 / 1;

    visibility: hidden;

    opacity: 0;

    pointer-events: none;
    inset-inline: 0;

    &[data-type='short'] ::slotted(*) {
      display: -webkit-box !important; /* stylelint-disable-line declaration-no-important */
      -webkit-line-clamp: var(--_text-clamp, 2);
      -webkit-box-orient: vertical;

      overflow: hidden;
    }

    &[data-type='short']:where(:not(:where(.expanded, .animating) *)),
    &[data-type='long']:where(:where(.expanded, .animating) *) {
      position: static;

      visibility: visible;

      opacity: 1;

      pointer-events: auto;
    }
  }

  &__button {
    all: unset;

    color: var(--general-lime);

    font: var(--_button-font);

    cursor: pointer;

    transition: all 300ms;

    &:where(.animating *) {
      opacity: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    gap: 8px;
  }
}
