.terms-header-section {
  --header-offset: 0;

  row-gap: 16px;

  padding-top: 104px;
  padding-bottom: 96px;

  &__content {
    --column-index: calc(var(--header-offset) + 1);

    grid-column: var(--column-index) / calc(var(--column-index) * -1);
  }

  @media only screen and (min-width: 768px) {
    padding-bottom: 152px;
  }

  @media only screen and (min-width: 1024px) {
    --header-offset: 1;

    &[data-theme='dark'] + [data-theme='dark'] {
      margin-top: -40px;
    }
  }

  @media only screen and (min-width: 1280px) {
    --header-offset: 2;
  }

  @media only screen and (min-width: 1440px) {
    --header-offset: 3;
  }
}
