// OUTDATED!!!!!
:root {
  --def-transition: 0.35s;
  --def-opacity: 0.8;
  --header-compensator: 107px;
  --p-inline: 120px;
  --tb-sm: 50px;
  --tb-m: 100px;
  --tb-l: 150px;
  --def-font: 'DM Sans', sans-serif;
  --acc-font: 'Syne', sans-serif;
}
