.licenses-header-section {
  --header-offset: 0;

  row-gap: 32px;

  padding-block: 32px;

  &__content {
    --column-index: calc(var(--header-offset) + 1);

    grid-column: var(--column-index) / calc(var(--column-index) * -1);
  }

  @media only screen and (min-width: 768px) {
    row-gap: 48px;

    padding-block: 48px;
  }

  @media only screen and (min-width: 1024px) {
    --header-offset: 1;

    row-gap: 80px;

    padding-block: 96px;
  }

  @media only screen and (min-width: 1280px) {
    --header-offset: 2;
  }

  @media only screen and (min-width: 1440px) {
    --header-offset: 3;
  }
}
