.industry {
  gap: clamp(32px, 4vw, 80px);

  padding-block: clamp(48px, 8vw - 1rem, 96px);

  &-title {
    margin-bottom: 96px;

    color: var(--clr-dark);

    font-family: 'Syne', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.334;

    mark {
      color: var(--clr-blue);
      background: none;

      font-weight: inherit;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item-title {
    color: var(--clr-t-def);

    font-family: 'Syne', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;

    transition-duration: 400ms;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 150px;
    padding: 16px 20px;

    border-top: 1px solid var(--clr-blue);
    border-right: 1px solid var(--clr-blue);

    overflow: hidden;

    cursor: pointer;

    transition-duration: 400ms;

    svg {
      position: absolute;
      top: 50%;
      right: 20px;

      opacity: 0;

      transform: translateY(-50%) translateX(100%);
      transition-duration: 400ms;
    }

    &:hover {
      background-color: var(--clr-blue);
    }

    &:hover &-title {
      color: var(--clr-white);

      transform: translateX(-52px);
    }

    &:hover svg {
      opacity: 1;

      transform: translateY(-50%);
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }

    &:nth-child(3n) {
      border-right: none;
    }
  }

  &__item-icon {
    display: flex;

    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 16px;

    transition-duration: 400ms;

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }

  &__item:hover &__item-icon {
    opacity: 0;

    transform: translateX(-100%);
  }

  &-btn {
    display: none;
  }

  @media (max-width: 1249px) {
    &-title {
      margin-bottom: 48px;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      border: none;
      border-top: 1px solid var(--clr-blue);

      &:nth-child(2n - 1) {
        border-right: 1px solid var(--clr-blue);
      }

      &:nth-child(3) {
        border-top: 1px solid var(--clr-blue);
      }
    }
  }

  @media (max-width: 999px) {
    &-title {
      font-size: 40px;
      line-height: 1.5;
    }
  }

  @media (max-width: 600px) {
    &-title {
      margin-bottom: 32px;

      font-size: 24px;
    }

    &__items {
      grid-template-columns: 1fr;
    }

    &__item {
      display: none;

      min-height: 96px;
      padding: 8px;

      border: none;
      border-bottom: 1px solid var(--clr-blue) !important; /* stylelint-disable-line declaration-no-important */

      &:nth-child(2n - 1) {
        border: none;
      }

      &:nth-child(3) {
        border-top: none;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        display: flex;
      }

      &.active {
        display: flex !important; /* stylelint-disable-line declaration-no-important */
      }
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-icon {
      width: 32px;
      min-width: 32px;
      height: 32px;
    }

    &-btn {
      display: flex;

      width: 100%;
      margin-top: 16px;
    }

    &__item:hover &__item-title {
      color: var(--clr-white);

      transform: translateX(-30px);
    }
  }
}
