.payment-schemes-table {
  --title-color: var(--clr-white);
  --description-color: var(--clr-white);

  gap: clamp(32px, 5vw, 80px);

  padding-block: clamp(48px, 5vw, 96px);
}

.pricing {
  &__pays {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media screen and (max-width: 415px) {
      row-gap: 16px;
    }

    &-top {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: 424px 2fr 1fr;

      margin-bottom: 32px;

      @media screen and (max-width: 1280px) {
        grid-template-columns: 424px 504px 332px;
      }

      @media screen and (max-width: 615px) {
        grid-template-columns: 324px 504px 332px;
      }

      @media screen and (max-width: 415px) {
        &-top {
          grid-template-columns: 200px 504px 332px;
        }
      }
    }

    &-top-item {
      color: var(--scale-white-80);
      opacity: 0.8;

      font: var(--title-t3);
    }

    &__pay-down {
      display: none;
      grid-gap: 70px;
      grid-template-columns: 350fr 500fr 310fr;

      height: 0;
      max-height: 0;

      overflow: hidden;

      background-color: transparent;
      opacity: 0;

      cursor: pointer;

      transition: var(--def-transition);
    }

    &:hover &__pay-down {
      display: block;

      height: 120px;
      max-height: 100%;

      visibility: visible;

      opacity: 1;

      pointer-events: all;

      transition: var(--def-transition);
    }
  }

  &__tabs {
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 1px;
      height: 4px;
    }

    &::-webkit-scrollbar-track:horizontal {
      border-radius: 8px;

      background: #4e5159;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      border-radius: 8px;

      background-color: var(--clr-orange);
    }
  }

  &__pay {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 424px 2fr 1fr;

    padding: 16px 0;

    border-radius: 2px;

    background-color: transparent;

    cursor: pointer;

    transition-duration: 400ms;
  }

  &__pay-left {
    display: flex;
    align-items: center;
  }

  &__pay-center-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    overflow: hidden;

    color: var(--scale-white-80, rgb(255 255 255 / 80%));

    font: var(--body-b1);

    &:not(.shown) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &__pay-left-img {
    width: 120px;
    height: 64px;
    margin-right: 16px;

    border-radius: 4px;

    background-color: #fff;
    object-fit: contain;
  }

  &__pay-left-text {
    display: flex;
    flex-direction: column;

    span {
      color: var(--typography-white, #fff);

      font: var(--title-t3);
    }
  }

  &__pay-center {
    color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    b {
      font-weight: 600;
    }

    &-label {
      display: none;
    }
  }

  &__pay-right {
    color: #fff;

    font: var(--body-b1);
  }

  &__pay-right-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    overflow: hidden;

    &:not(.shown) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &.active {
    background: var(--clr-blue, #0040ff);

    &::after {
      transform: rotateX(180deg);
    }
  }

  @media screen and (max-width: 1280px) {
    &__pay {
      grid-template-columns: 424px 504px 332px;
    }

    &__tab {
      min-width: 1320px;
      margin: auto;
    }
  }

  @media screen and (max-width: 615px) {
    &__pay {
      grid-template-columns: 324px 504px 332px;
    }
  }

  @media screen and (max-width: 415px) {
    &__tab {
      min-width: auto;
    }

    &__pay {
      grid-template-columns: 200px 504px 332px;
    }

    &__pay-left-img {
      width: 60px;
      height: 32px;
    }

    &__pay-down {
      height: 60px;
    }
  }
}

.more-info {
  display: flex;

  border: none;

  color: var(--general-lime);
  background: none;

  font: var(--title-t3);

  cursor: pointer;

  &.shown::before {
    content: attr(data-hide-text);
  }

  &:not(.shown)::before {
    content: attr(data-show-text);
  }
}
