.hm-navigation {
  overflow: hidden auto;

  ul {
    display: grid;
    align-items: start;
    gap: 8px;

    overflow: hidden;

    color: var(--primary-text-color);

    font: var(--body-b1);

    ul {
      padding-inline: 16px;

      color: var(--secondary-text-color);

      &::before,
      &::after {
        height: 8px;
      }
    }
  }

  li {
    display: grid;
    align-items: start;

    &:has(ul) {
      grid-template-rows: min-content 0fr;

      overflow: hidden;

      cursor: pointer;
      user-select: none;

      transition: grid-template-rows 300ms;

      &[aria-expanded='true'] {
        grid-template-rows: min-content 1fr;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-block: 8px;

    color: currentcolor;

    &::before {
      order: 1;

      color: var(--accent-color);

      font-size: 24px;

      transition: all 300ms;
    }

    &:where([aria-expanded='true'] > *) {
      &::before {
        rotate: 180deg;
      }
    }

    &:where(li ul, :not(:has(~ ul))) {
      &::before {
        content: none;
      }
    }
  }

  &:has(:nth-child(1) ul > li:nth-child(4)) {
    &:nth-child(1) {
      > ul > li:not(:nth-last-child(n + 3)) {
        display: none;
        appearance: none;
      }
    }

    &:nth-child(2) {
      > ul > li:nth-last-child(n + 3) {
        display: none;
        appearance: none;
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:not(:has(:nth-child(1) ul > li:nth-child(4))) {
    &:nth-child(2) {
      display: none;
    }
  }
}
