@mixin regular-content() {
  --dot-threshold: 5px;
  --dot-size: 8px;

  display: grid;
  gap: var(--content-gap);

  color: var(--typography-white);

  :where(h1, h2, h3, h4, h5, h6) {
    text-decoration: underline;
    text-underline-position: under;

    text-decoration-color: var(--general-lime);
    text-decoration-thickness: 2px;
  }

  :where(h1, h2, h3, h4, h5, h6, .sub-title) + *:not(.sub-title),
  :where(h1, h2, h3, h4, h5, h6) + .sub-title + *,
  * + :where(h1, h2, h3, h4, h5, h6) {
    margin-top: calc(var(--content-headline-gap) - var(--content-gap));
  }

  :where(strong, b, [class*='title-']) + :where(ol, ul) {
    margin-top: calc((var(--content-gap) / 2) * -1);
  }

  :where([class*='title-'], strong, b, .sub-title) {
    color: var(--typography-white);
  }

  :where(strong, b) {
    font: var(--title-t3);
  }

  p {
    color: var(--scale-white-80);

    font: var(--body-b1);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  blockquote,
  blockquote * {
    width: 100%;

    color: var(--scale-white-40);

    font: var(--body-b3);
  }

  *:not(li *) + blockquote {
    margin-top: calc((var(--content-gap) * -1) + 8px);
  }

  ul {
    display: grid;
    gap: var(--content-list-gap);

    padding-left: 16px;

    list-style: none;

    counter-reset: stepper;

    li {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      padding-left: calc(var(--dot-size) + 16px);

      color: var(--scale-white-80);

      font: var(--body-b2);

      counter-increment: stepper;

      &::before {
        content: '\e901';

        position: absolute;
        top: 0;
        left: 0;

        flex-shrink: 0;

        padding-top: var(--dot-threshold);

        overflow: hidden;

        color: var(--general-lime);

        font-family: 'SECRET-landing', sans-serif;
        font-size: var(--dot-size);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        text-transform: none;

        speak: never;
      }
    }
  }

  ol {
    display: grid;
    gap: var(--content-list-gap);

    padding-left: 20px;

    counter-reset: stepper;

    li {
      position: relative;

      gap: 16px;

      color: var(--scale-white-80);

      font: var(--body-b2);
    }
  }

  @media only screen and (min-width: 768px) {
    --dot-threshold: 7px;
  }
}

@mixin page-content() {
  --content-column-space: 0;
  --content-gap: 16px;
  --content-headline-gap: 32px;
  --content-list-gap: 8px;

  padding-bottom: 32px;

  &__section {
    display: grid;
    gap: var(--content-headline-gap);

    padding-block: 32px;
  }

  &__regular,
  &__table {
    --du-page-content-column-value: calc(var(--content-column-space) + 1);

    grid-column: var(--du-page-content-column-value) / calc(var(--du-page-content-column-value) * -1);
  }

  @media only screen and (min-width: 768px) {
    --content-gap: 24px;
    --content-headline-gap: 40px;
    --content-list-gap: 16px;

    padding-bottom: 48px;

    &__section {
      display: grid;

      padding-block: 40px;
    }
  }

  @media only screen and (min-width: 1024px) {
    padding-bottom: 80px;

    &__regular {
      --content-column-space: 1;
    }
  }

  @media only screen and (min-width: 1280px) {
    --content-gap: 32px;
    --content-headline-gap: 56px;

    &__regular {
      --content-column-space: 2;
    }
  }

  @media only screen and (min-width: 1920px) {
    &__table {
      --content-column-space: 1;
    }
  }
}
