.popular-pm-section {
  --group-columns: 2;
  --group-row-gap: 24px;
  --group-column-gap: 20px;

  display: grid;
  gap: 32px;

  padding-block: 32px;

  &__header {
    color: var(--typography-white);

    font: var(--headline-h2);
    text-align: left;
  }

  &__groups {
    display: grid;
    grid-gap: var(--group-row-gap) var(--group-column-gap);
    grid-template-columns: repeat(var(--group-columns), 1fr);
  }

  &__group {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    gap: 16px;
  }

  &__icon img {
    width: 24px;
  }

  &__name {
    color: var(--typography-white);

    font: var(--headline-h4);
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: var(--typography-white);

    font: var(--body-b1);
  }

  @media only screen and (min-width: 768px) {
    --group-columns: 4;
    --group-row-gap: 48px;
    --group-column-gap: 20px;

    gap: 60px;

    padding-block: 48px 56px;

    &__icon img {
      width: 48px;
    }
  }

  @media only screen and (min-width: 1024px) {
    --group-row-gap: 60px;
    --group-column-gap: 144px;

    gap: 60px;

    padding-block: 96px;
  }
}
