$white: (
  'primary': var(--general-blue),
  'secondary': var(--additional-blue-15),
);
$blue: (
  'primary': var(--general-lime),
  'secondary': var(--typography-secondary),
);
$dark: (
  'primary': var(--general-lime),
  'secondary': var(--typography-secondary),
);
$black: (
  'primary': var(--general-lime),
  'secondary': var(--typography-secondary),
);
