@layer shared.parts.get-started {
  .get-started {
    --group-columns: 2;

    display: grid;
    gap: 48px;

    padding-top: 48px;

    &__header {
      --title-color: var(--typography-white);
      --description-color: var(--typography-white);
    }

    @media only screen and (min-width: 1024px) {
      gap: 96px;

      padding-top: 96px;
    }
  }

  .tabs-item {
    padding-block: 32px;

    @media only screen and (min-width: 768px) {
      padding-block: 48px;
    }

    @media only screen and (min-width: 1024px) {
      padding-block: 96px;
    }
  }
}
