.career-values {
  --career-values-group-columns: 2;
  --career-values-group-column-gap: 20px;
  --career-values-group-row-gap: 32px;
  --career-values-header-span: 4;
  --career-values-groups-span: 4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  row-gap: 32px;

  margin-top: 32px;
  padding-block: 32px;

  &__title {
    color: var(--typography-white);

    font: var(--headline-h1);
  }

  &__header {
    display: grid;
    grid-column: span var(--career-values-header-span);
    gap: 16px;

    padding-left: 16px;

    border-left: 2px solid var(--typography-white);
  }

  &__groups {
    display: grid;
    grid-column: span var(--career-values-groups-span) / -1;
    gap: var(--career-values-group-row-gap) var(--career-values-group-column-gap);
    grid-template-columns: repeat(var(--career-values-group-columns), 1fr);
  }

  &__footnote {
    display: flex;
    grid-column: span 2;
  }

  &__footnote-description {
    display: flex;
    flex-direction: column;

    color: var(--scale-white-80);

    font: var(--body-b3);
  }

  &__description {
    display: flex;
    flex-direction: column;

    color: var(--scale-white-80);

    font: var(--body-b2);
  }

  &__group {
    position: relative;

    display: flex;
    flex-direction: column;
    grid-column: span 2;
    gap: 16px;
  }

  &__info {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding-top: 24px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 3px;

      background-color: var(--general-lime);
    }
  }

  &__count {
    color: var(--typography-white);

    font: var(--headline-h5);
  }

  &__name {
    color: var(--typography-white);

    font: var(--headline-h5);
  }

  &__caption {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: var(--scale-white-80);

    font: var(--body-b1);
  }

  @media only screen and (min-width: 768px) {
    --career-values-group-columns: 4;
    --career-values-group-row-gap: 96px;
    --career-values-group-column-gap: 80px;
    --career-values-header-span: 8;
    --career-values-groups-span: 8;

    row-gap: 96px;

    margin-top: 56px;
    padding-block: 96px;

    &__header {
      gap: 24px;

      padding-left: 32px;
    }

    &__footnote {
      grid-column: span 5;
    }

    &__description,
    &__footnote-description {
      gap: 8px;
    }

    &__count {
      font: var(--title-t2);
    }
  }

  @media only screen and (min-width: 1024px) {
    --career-values-group-columns: 4;
    --career-values-header-span: 12;
    --career-values-groups-span: 12;

    margin-top: 96px;
  }

  @media only screen and (min-width: 1280px) {
    --career-values-header-span: 4;
    --career-values-groups-span: 7;
  }
}
