.cr-image-block {
  column-gap: 5px;

  padding-bottom: 30px;

  column-count: 3;

  img {
    width: 100%;

    &:nth-child(odd) {
      padding-bottom: 2px;

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-bottom: 7px;
      }

      @media screen and (min-width: 1024px) {
        padding-bottom: 17px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    column-gap: 10px;

    padding-bottom: 56px;
  }

  @media screen and (min-width: 1024px) {
    column-gap: 20px;

    padding-bottom: 96px;
  }
}
